<head>
    <meta charset="UTF-8">
    <title>MEBELEVV</title>
    <link rel="website icon" href="../../static/mebelevv/images/logo-black.svg" type="png">
    <link rel="stylesheet" href="../../static/mebelevv/vars.css">
    <link rel="stylesheet" href="../../static/mebelevv/main.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body>
<section class="header-section">
    <div class="header-wrap">
        <div class="header">
            <div class="header-logo" onclick="scrollToElem('main-section')"></div>
            <div class="header-nav">
                <span class="gallery" onclick="scrollToElem('gallery-pre-section')">Наши работы</span>
                <span class="questions" onclick="scrollToElem('questions-section')">Вопросы</span>
                <span class="contacts" onclick="scrollToElem('contacts-section')">Контакты</span>
            </div>
            <div class="header-menu"></div>
        </div>
    </div>
</section>

<section class="main-section">
    <img class="main-image" src="../../static/mebelevv/images/main.jpg" alt="main-image">
    <div class="main-text element hidden">MEBELEVV</div>
    <div class="main-arrow-wrap"><span class="main-arrow" onclick="scrollToElem('gallery-pre-section')"></span></div>
</section>

<section class="gallery-section element hidden">
    <div class="gallery-text element hidden">НАШИ РАБОТЫ</div>
    <div id="container">
        <div class="gallery-items">
            <div class="gallery-item">
                <img class="gallery-item-image" onclick="window.open(this.src)"
                     src="../../static/mebelevv/images/bed.jpg" alt="gallery-image">
                <span class="gallery-item-text">Кровать</span>
                <hr class="gallery-item-hr">
            </div>
            <div class="gallery-item">
                <img class="gallery-item-image" src="../../static/mebelevv/images/tea-table.jpg"
                     onclick="window.open(this.src)" alt="gallery-image">
                <span class="gallery-item-text">Чайный столик</span>
                <hr class="gallery-item-hr">
            </div>
            <div class="gallery-item">
                <img class="gallery-item-image" src="../../static/mebelevv/images/sofa.jpg"
                     onclick="window.open(this.src)" alt="gallery-image">
                <span class="gallery-item-text">Диван</span>
                <hr class="gallery-item-hr">
            </div>
            <div class="gallery-item">
                <img class="gallery-item-image" src="../../static/mebelevv/images/kitchen-table.jpg"
                     onclick="window.open(this.src)" alt="gallery-image">
                <span class="gallery-item-text">Кухонный стол</span>
                <hr class="gallery-item-hr">
            </div>
        </div>
    </div>
</section>

<dialog id="modalWindow">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="topLine">
            <div class="windowText gray">Рассчитайте<div class="brown">стоимость кухни</div></div>
            <img src="../../../static/close-icon.svg" alt="" id="close">
        </div>
        {% for question in questions %}
            <fieldset name="" id="question{{ forloop.counter }}" {% if forloop.counter > 1 %}style="display: none;"{% endif %}>
                <div class="question-title">{{ question.title }}</div>
                <div class="answers-block">
                    {% for answer in question.answers.all %}
                        <div class="answer gray {{ question.title }}" onclick="makeInputChecked(this, 'input-{{ answer.title }}', '{{ question.title }}');">
                            <input type="radio" id="input-{{ answer.title }}" name="{{ question.title }}" class="checkbox" value="{{ question.title }} // {{ answer.title }}"/>
                            <label class="windowText" for="opt1">{{ answer.title }}</label>
                            <img src="{% if answer.img %}{{ answer.img.url }}{% endif %}">
                        </div>
                    {% endfor %}
                </div>
                <div class="bottomLine">
                    <div class="windowText gray">Вопросов осталось: {{ forloop.revcounter }}</div>
                    <button type="button" onclick="validateForm('{{ question.title }}', this)" class="{% if question != questions.last %}nextQuestion{% else %}lastNextQuestion{% endif %}" id="{{ forloop.counter }}" {% if forloop.counter > 1 %}style="display: none;"{% endif %}>Далее</button>
                </div>
            </fieldset>
        {% endfor %}
        <fieldset name="" id="questionLast" style="display: none;">
            <div class="question-title">Оставьте свои контакты, и мы перезвоним вам с результатами</div>
            <div class="input-fields">
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Телефон"/>
                <label class="input-file">
                    <input type="file" id="userFile" name="userFile">
                    <span>Выберите файл</span>
                    <img src="../../../static/upload-icon.svg" alt="">
                </label>
                <script>
                    $('.input-file input[type=file]').on('change', function(){
                        let file = this.files[0];
                        $(this).next().html(file.name);
                        this.style.color = '#667085';
                    });
                </script>
            </div>
            <div class="bottomLine">
                <div class="windowText gray">Финальный штрих</div>
                <input type="submit" class="sendBtn" value="Отправить">
            </div>
        </fieldset>
    </form>
</dialog>

<section class="calculator-section">
    <div class="calculator-wrap element hidden">
        <div class="calculator-questions">
            <span class="calculator-text">Ответьте на <span class="calculator-text-colored">5 вопросов</span> и узнайте стоимость</span>
            <span class="calculator-text-secondary">Мы поможем вам рассчитать стоимость мебели вашей мечты, а также подобрать варианты дизайна и изготовления мебели</span>
            <button id="openModal" class="calculator-button">Узнать стоимость</button>
        </div>
        <div class="calculator-image">
            <img class="calculator-img" src="../../static/mebelevv/images/calculator.jpg" alt="Calculator">
        </div>
    </div>
</section>

<section class="questions-section">
    <span class="questions-title element hidden">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</span>
    <div class="questions-list element hidden">
        <div class="questions-collapsible-wrap">
            <button class="questions-collapsible">Сколько времени занимает изготовление мебели?</button>
            <div class="questions-content">
                <div class="questions-text">
                    Сроки изготовления мебели варьируются в зависимости от сложности и объема заказа. Большие кухни с
                    нестандартными фасадами и сложными механизмами, большие прихожие изготавливаются в среднем до 25
                    рабочих дней. Двери шкафов-купе, простые шкафы, столы (в том числе компьютерные), тумбы, комоды
                    занимают меньше времени для разработки и изготовления – от 3 до 10 рабочих дней. Но, опять же,
                    индивидуальная мебель – это масса тонкостей и ньюансов, которые могут повлиять на сроки изготовления
                    мебели.
                </div>
            </div>
            <hr class="questions-content-hr">
        </div>
        <div class="questions-collapsible-wrap">
            <button class="questions-collapsible">Есть ли у вас рассрочка или кредит?</button>
            <div class="questions-content">
                <div class="questions-text">aывыфвфывыфффффффффффффффффф</div>
            </div>
            <hr class="questions-content-hr">
        </div>
        <div class="questions-collapsible-wrap">
            <button class="questions-collapsible">Какой срок гарантии?</button>
            <div class="questions-content">
                <div class="questions-text">aывыфвфывыфффффффффффффффффф</div>
            </div>
            <hr class="questions-content-hr">
        </div>
        <div class="questions-collapsible-wrap">
            <button class="questions-collapsible">Как заказать замер?</button>
            <div class="questions-content">
                <div class="questions-text">aывыфвфывыфффффффффффффффффф</div>
            </div>
            <hr class="questions-content-hr">
        </div>
        <div class="questions-collapsible-wrap">
            <button class="questions-collapsible">Сколько стоит сборка и доставка?</button>
            <div class="questions-content">
                <div class="questions-text">aывыфвфывыфффффффффффффффффф</div>
            </div>
        </div>
    </div>
</section>

<section class="contacts-section">
    <div class="contacts-wrap">
        <div class="contacts-connect"></div>
        <div class="contacts-media"></div>
        <div class="contacts-address"></div>
    </div>
    <div class="contacts-map"></div>
    <div class="footer">
        <hr class="footer-hr">
        <div class="footer-text">
            <div class="footer-copyright">Copyright © 2024 Mebelevv</div>
            <div class="footer-rights">Все права защищены</div>
        </div>
    </div>
</section>
</body>

<script>
    (function move() {
        let container = document.querySelector('.gallery-items'),
            block = container.querySelector('.gallery-item');
        container.classList.remove("active");
        container.appendChild(block);
        window.setTimeout(move, 3000);
        window.setTimeout(function () {
            container.classList.add("active");
        }, 100);
    })();
</script>

<script>
    function scrollToElem(className) {
        const element = document.querySelector(`.${className}`);
        if (!element) {
            console.log(`Element with class "${className}" not found.`);
            return;
        }

        const targetPosition = element.getBoundingClientRect().top + window.pageYOffset;
        const startPosition = window.pageYOffset;
        const distance = targetPosition - startPosition - 25;
        const duration = distance > 0 ? distance : -distance;
        let start = null;

        console.log(targetPosition, startPosition)

        function step(timestamp) {
            if (!start) start = timestamp;
            const progress = timestamp - start;
            const progressFraction = Math.min(progress / duration, 1);
            const ease = (t) => t * (2 - t);

            window.scrollTo(0, startPosition + distance * ease(progressFraction));
            if (progress < duration) {
                window.requestAnimationFrame(step);
            }
        }

        window.requestAnimationFrame(step);
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const observerOptions = {
            root: null,
            rootMargin: '0px',
            threshold: 0.2
        };

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    entry.target.classList.remove('hidden');
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        document.querySelectorAll('.element').forEach(element => {
            observer.observe(element);
        });
    });
</script>

<script>
    var coll = document.getElementsByClassName("questions-collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("plan");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{# Modal Window #}
<script>
    var dialog = document.querySelector('dialog')
    // выводим модальное окно
    document.querySelector('#openModal').onclick = function () {
        dialog.showModal()
    }
    // скрываем окно
    document.querySelector('#close').onclick = function () {
        dialog.close()
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var scrollbar = document.body.clientWidth - window.innerWidth + 'px';
        console.log(scrollbar);
        document.querySelector('[id="openModal"]').addEventListener('click', function () {
            document.body.style.overflow = 'hidden';
        });
        document.querySelector('[id="close"]').addEventListener('click', function () {
            document.body.style.overflow = 'visible';
        });
    });
</script>
<script>
    function validateForm(name, elem) {
        var currentId = elem.id
        var radios = document.getElementsByName(name);
        var formValid = false;
        var i = 0;
        while (!formValid && i < radios.length) {
            if (radios[i].checked) formValid = true;
            i++;
        }
        if (!formValid) {
            alert("Must check some option!");
        } else {
            if (elem.className != 'lastNextQuestion') {
                var currentQuestion = document.getElementById('question' + currentId);
                currentQuestion.style.display = 'none';
                elem.style.display = 'none';

                var nextQuestion = document.getElementById('question' + (parseInt(currentId) + 1));
                if (nextQuestion) {
                    nextQuestion.style.display = 'block';
                }
                document.getElementById(parseInt(currentId) + 1).style.display = 'block';
            } else {
                var nextElements = document.getElementsByClassName('nextQuestion');
                for (var i = 0; i < nextElements.length; i++) {
                    nextElements[i].style.display = 'none';
                    document.getElementById('question' + currentId).style.display = 'none';
                }
                document.getElementById('questionLast').style.display = 'block';
                elem.style.display = 'none';
            }
        }
        return formValid;
    }
</script> {# Questions Pagination #}

{# Prevent Resubmission #}
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<script>
    function makeInputChecked(self, id, answersClassName) {
        document.getElementById(id).checked = true;
        questionAnswers = document.getElementsByClassName(answersClassName);
        for (let i = 0; i < questionAnswers.length; i++) {
            questionAnswers[i].classList.remove('checked')
        }
        self.classList.add('checked')
    }
</script>