<head>
    <meta charset="UTF-8">
    <title>MEBELEVV</title>
    <link rel="website icon" href="../../static/mebelevv/images/logo-black.svg" type="png">
    <link rel="stylesheet" href="../../static/mebelevv/vars.css">
    <link rel="stylesheet" href="../../static/mebelevv/main.css">
</head>


<body>
    <section class="header-section">
        <div class="header-wrap">
            <div class="header">
                <div class="header-logo" onclick="scrollToElem('main-section')"></div>
                <div class="header-nav">
                    <span class="gallery"  onclick="scrollToElem('gallery-pre-section')">Наши работы</span>
                    <span class="questions" onclick="scrollToElem('questions-section')">Вопросы</span>
                    <span class="contacts" onclick="scrollToElem('contacts-section')">Контакты</span>
                </div>
                <div class="header-menu"></div>
            </div>
        </div>
    </section>

    <section class="main-section">
        <img class="main-image" src="../../static/mebelevv/images/main.jpg" alt="main-image">
            <div class="main-text element hidden">MEBELEVV</div>
            <div class="main-arrow-wrap">
                <span class="main-arrow" onclick="scrollToElem('gallery-pre-section')"></span>
            </div>

        </div>
    </section>
    <section class="gallery-pre-section"></section>
    <section class="gallery-section element hidden">
        <div class="gallery-text element hidden">НАШИ РАБОТЫ</div>
            <div id="container">
                <div class="gallery-items">
                    <div class="gallery-item">
                            <img class="gallery-item-image" onclick="window.open(this.src)" src="../../static/mebelevv/images/bed.jpg" alt="gallery-image">
                        <span class="gallery-item-text">Кровать</span>
                        <hr class="gallery-item-hr">
                    </div>
                    <div class="gallery-item">
                        <img class="gallery-item-image" src="../../static/mebelevv/images/tea-table.jpg" onclick="window.open(this.src)" alt="gallery-image">
                        <span class="gallery-item-text">Чайный столик</span>
                        <hr class="gallery-item-hr">
                    </div>
                    <div class="gallery-item">
                        <img class="gallery-item-image" src="../../static/mebelevv/images/sofa.jpg" onclick="window.open(this.src)" alt="gallery-image">
                        <span class="gallery-item-text">Диван</span>
                        <hr class="gallery-item-hr">
                    </div>
                    <div class="gallery-item">
                        <img class="gallery-item-image" src="../../static/mebelevv/images/kitchen-table.jpg" onclick="window.open(this.src)" alt="gallery-image">
                        <span class="gallery-item-text">Кухонный стол</span>
                        <hr class="gallery-item-hr">
                    </div>
            </div>
    </section>

    <section class="calculator-section">
        <div class="calculator-wrap element hidden">
            <div class="calculator-questions">
                <span class="calculator-text">Ответьте на <span class="calculator-text-colored">5 вопросов</span> и узнайте стоимость</span>
                <span class="calculator-text-secondary">Мы поможем вам рассчитать стоимость мебели вашей мечты, а также подобрать варианты дизайна и изготовления мебели</span>
                <button class="calculator-button">Узнать стоимость</button>
            </div>
            <div class="calculator-image">
                <img class="calculator-img" src="../../static/mebelevv/images/calculator.jpg" alt="Calculator"></img>

            </div>
        </div>
    </section>

    <section class="questions-section">
        <span class="questions-title element hidden">
            ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
        </span>
        <div class="questions-list element hidden">
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Какую мебель вы производите?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        Мы производим корпусную мебель (шкафы, мебель для детей, офисная мебель, для ванной, кухонная мебель, любой проект, который необходим заказчику). Мы можем изготовить мебель по вашему проекту либо по фотографии.                    </div>
                </div>
                <hr class="questions-content-hr">
            </div>
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Чем мебель, изготовленная под заказ, отличается от готовой, которая продается в магазине?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        В отличие от мебели, приобретенной в магазине, где вы ограниченны размерами, конфигурацией и цветом мебели. Мебель же, изготовленная под заказ, ограничена только вашей фантазией: вы можете варьировать цвет, материал, конфигурацию, фурнитуру, размер, декор и т.д.                    </div>
                </div>
                <hr class="questions-content-hr">
            </div>
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Сколько времени занимает изготовление мебели?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        Сроки изготовления мебели варьируются в зависимости от сложности и объема заказа. Большие кухни с нестандартными фасадами и сложными механизмами, большие прихожие изготавливаются в среднем до 25 рабочих дней. Двери шкафов-купе, простые шкафы, столы (в т.ч. компьютерные), тумбы, комоды занимают меньше времени для разработки и изготовления - от 3 до 10 рабочих дней. Но, опять же, индивидуальная мебель - это масса тонкостей и ньюансов, которые могут повлиять на сроки изготовления мебели.
                    </div>
                </div>
                <hr class="questions-content-hr">
            </div>
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Какой процент предоплаты вы берете?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        Согласно договору мы берем от 50% от стоимости изготовления изделия.
                    </div>
                </div>
                <hr class="questions-content-hr">
            </div>
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Какие способы оплаты у вас существуют?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        Мы работаем как с наличным расчетом, так и по безналичному расчету. Также возможно оформление рассрочки и кредита.
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="contacts-section">
        <div class="contacts-main">
            <div class="contacts-text-wrap">
            <span class="contacts-text">
                НАШИ КОНТАКТЫ
            </span>
            <div class="contacts-wrap">
                <div class="contacts-connect">
                    <span class="contacts-connect-title">Связь</span>
                    <span class="contacts-connect-number">8 (800) 555-35-35</span>
                    <span class="contacts-connect-email">mebelevv@mail.ru</span>
                </div>
                <div class="contacts-media">
                    <span class="contacts-media-title">Соцсети</span>
                    <span class="contacts-media-number">8 (800) 555-35-35</span>
                    <span class="contacts-media-email">mebelevv@mail.ru</span>
                </div>
                <div class="contacts-address">
                    <span class="contacts-address-title">Адрес</span>
                    <span class="contacts-address-number">8 (800) 555-35-35</span>
                    <span class="contacts-address-email">mebelevv@mail.ru</span>
                </div>
            </div>
        </div>
        <div class="contacts-map">
            <script
                    type="text/javascript"
                    charset="utf-8"
                    async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A55e27bc7b91ced832623cb237b52063532ca99c52546a0f6c37a8ec23fe186b4&amp;width=400&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
         </div>
        </div>

         <div class="footer">
            <hr class="footer-hr">
                <div class="footer-text">
                    <div class="footer-copyright">Copyright © 2024 Mebelevv</div>
                    <div class="footer-rights">Все права защищены</div>
                </div>
            </div>
    </section>
</body>

<script>
    (function move() {
    let container = document.querySelector('.gallery-items'),
        block = container.querySelector('.gallery-item');
        container.classList.remove("active");
    container.appendChild(block);
    window.setTimeout(move, 3000);
    window.setTimeout(function() {
        container.classList.add("active");
    }, 100);
    })();
</script>

<script>
function scrollToElem(className) {
    const element = document.querySelector(`.${className}`);
    if (!element) {
        console.log(`Element with class "${className}" not found.`);
        return;
    }

    const targetPosition = element.getBoundingClientRect().top + window.pageYOffset;
    const startPosition = window.pageYOffset;
    const distance = targetPosition - startPosition - 25;
    const duration = distance > 0? distance : -distance;
    let start = null;

    console.log(targetPosition, startPosition)

    function step(timestamp) {
        if (!start) start = timestamp;
        const progress = timestamp - start;
        const progressFraction = Math.min(progress / duration, 1);
        const ease = (t) => t * (2 - t);

        window.scrollTo(0, startPosition + distance * ease(progressFraction));
        if (progress < duration) {
            window.requestAnimationFrame(step);
        }
    }

    window.requestAnimationFrame(step);
}
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const observerOptions = {
            root: null,
            rootMargin: '0px',
            threshold: 0.2
        };

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    entry.target.classList.remove('hidden');
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        document.querySelectorAll('.element').forEach(element => {
            observer.observe(element);
        });
    });
</script>

<script>
    var coll = document.getElementsByClassName("questions-collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("plan");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
            content.style.maxHeight = null;
            } else {
            content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
