{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Мебельная компания MEBELEVV предлагает изготовление мебели на заказ: шкафы, кухни, офисная мебель. Индивидуальные решения для вашего дома и офиса.">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://mebelevv.kz/"/>
    <meta property="og:image" content="https://mebelevv.kz/images/logo-black.svg"/>
    <meta property="og:title" content="Мебельная компания MEBELEVV"/>
    <meta property="og:description" content="Мебельная компания MEBELEVV предлагает изготовление мебели на заказ: шкафы, кухни, офисная мебель. Индивидуальные решения для вашего дома и офиса."/>

    <title>MEBELEVV</title>
    <link rel="icon" href="{% static 'mebelevv/images/logo-black.svg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'mebelevv/vars.css' %}">
    <link rel="stylesheet" href="{% static 'mebelevv/main.css' %}">
    <link rel="stylesheet" href="{% static 'mebelevv/side-menu.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body>
    <div id="mySidenav" class="side-menu">
        <div class="side-menu-top">
            <span class="side-menu-close" onClick="closeNav()"></span>
            <span id="mySidenavTitle" class="side-menu-title">Меню</span>
            <div class="side-menu-body"></div>
        </div>
    </div>

    <section id="" class="header-section">
        <div class="header-wrap">
            <div class="header">
                <a class="header-logo" href="#"></a>
                <div class="header-nav">
                    <a class="gallery" href="#gallery-pre-section">Наши работы</a>
                    <a class="questions" href="#questions-pre-section">Вопросы</a>
                    <a class="contacts" href="#contacts-section">Контакты</a>
                </div>
                <button class="connect" id="openContacts">Связаться</button>
            </div>
        </div>
    </section>

    <dialog id="contactWindow">
        <div class="contacts-block" id="contacts-block">
            <a class="contact" href="https://t.me/needsomesky">
                <img class="contact-icon" src="{% static 'mebelevv/images/tg_logo.svg' %}" alt="">
                Написать в Telegram
            </a>
            <a class="contact" href="https://wa.me/77717680027">
                <img class="contact-icon" src="{% static 'mebelevv/images/whatsapp_logo.svg' %}" alt="">
                Написать в WhatsApp
            </a>
            <div id="contact-via-phone" class="contact">
                <img class="contact-icon" src="{% static 'mebelevv/images/plus_sign.svg' %}" alt="">
                Оставить заявку
            </div>
        </div>


        <form class="phone-number-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset name="" id="phone-fieldset" style="display: none;">
                <div class="question-title" style="font-size: 1.5em;">Оставьте свои контакты, и мы перезвоним вам</div>
                <div class="input-fields">
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Телефон" style="width: 100%;"/>
                </div>
                <div class="bottomLine">
                    <input type="submit" class="sendBtn" value="Отправить">
                </div>
            </fieldset>
        </form>
    </dialog>

    <section class="main-section">
        <img class="main-image" alt="main-image">
            <div class="main-text element hidden">MEBELEVV</div>
            <div class="main-arrow-wrap">
                <a class="main-arrow" href='#gallery-pre-section'></a>
            </div>
    </section>

    <section id="gallery-pre-section"></section>

    <section class="gallery-section element hidden">
        <div class="gallery-text element hidden">НАШИ РАБОТЫ</div>
        <div id="container">
            <div class="gallery-items">
                <div class="gallery-item">
                    <img class="gallery-item-image" onclick="window.open(this.src)" src="{% static 'mebelevv/images/bed.jpg' %}" alt="gallery-image">
                    <span class="gallery-item-text">Кровать</span>
                    <hr class="gallery-item-hr">
                </div>
                <div class="gallery-item">
                    <img class="gallery-item-image" src="{% static 'mebelevv/images/tea-table.jpg' %}" onclick="window.open(this.src)" alt="gallery-image">
                    <span class="gallery-item-text">Чайный столик</span>
                    <hr class="gallery-item-hr">
                </div>
                <div class="gallery-item">
                    <img class="gallery-item-image" src="{% static 'mebelevv/images/sofa.jpg' %}" onclick="window.open(this.src)" alt="gallery-image">
                    <span class="gallery-item-text">Диван</span>
                    <hr class="gallery-item-hr">
                </div>
                <div class="gallery-item">
                    <img class="gallery-item-image" src="{% static 'mebelevv/images/kitchen-table.jpg' %}" onclick="window.open(this.src)" alt="gallery-image">
                    <span class="gallery-item-text">Кухонный стол</span>
                    <hr class="gallery-item-hr">
                </div>
            </div>
        </div>
    </section>

    <dialog id="modalWindow">
        <form method="post" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="topLine">
                <div class="windowText gray">Рассчитайте<div class="brown">стоимость кухни</div></div>
                <img src="{% static 'close-icon.svg' %}" alt="" id="close">
            </div>
            {% for question in questions %}
                <fieldset name="" id="question{{ forloop.counter }}" {% if forloop.counter > 1 %}style="display: none;"{% endif %}>
                    <div class="question-title">{{ question.title }}</div>
                    {% if question.hasImage %}
                        <div class="img-answers-block">
                            {% for answer in question.answers.all %}
                                <div class="answer gray {{ question.title }}" onclick="makeInputChecked(this, 'input-{{ answer.title }}', '{{ question.title }}');">
                                    <input style="display: none;" type="radio" id="input-{{ answer.title }}" name="{{ question.title }}" class="checkbox" value="{{ question.title }} // {{ answer.title }}"/>
                                    <img src="{{ answer.img.url }}">
                                    <label class="windowText" for="opt1">{{ answer.title }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="answers-block">
                            {% for answer in question.answers.all %}
                                <div class="answer gray {{ question.title }}" onclick="makeInputChecked(this, 'input-{{ answer.title }}', '{{ question.title }}');">
                                    <input type="radio" id="input-{{ answer.title }}" name="{{ question.title }}" class="checkbox" value="{{ question.title }} // {{ answer.title }}"/>
                                    <label class="windowText" for="opt1">{{ answer.title }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="bottomLine">
                        <div class="windowText gray">Вопросов осталось: {{ forloop.revcounter }}</div>
                        <button type="button" onclick="validateForm('{{ question.title }}', this)" class="{% if question != questions.last %}nextQuestion{% else %}lastNextQuestion{% endif %}" id="{{ forloop.counter }}" {% if forloop.counter > 1 %}style="display: none;"{% endif %}>Далее</button>
                    </div>
                </fieldset>
            {% endfor %}
            <fieldset name="" id="questionLast" style="display: none;">
                <div class="question-title">Оставьте свои контакты, и мы перезвоним вам с результатами</div>
                <div class="input-fields">
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Телефон"/>
                    <label class="input-file">
                        <input type="file" id="userFile" name="userFile">
                        <span>Выберите файл</span>
                        <img src="{% static 'upload-icon.svg' %}" alt="">
                    </label>
                    <script>
                        $('.input-file input[type=file]').on('change', function(){
                            let file = this.files[0];
                            $(this).next().html(file.name);
                            this.style.color = '#667085';
                        });
                    </script>
                </div>
                <div class="bottomLine">
                    <div class="windowText gray">Финальный штрих</div>
                    <input type="submit" class="sendBtn" value="Отправить">
                </div>
            </fieldset>
        </form>
    </dialog>

    <section class="calculator-section">
        <div class="calculator-wrap element hidden">
            <div class="calculator-questions">
                <span class="calculator-text">Ответьте на <span class="calculator-text-colored">5 вопросов</span> и узнайте стоимость</span>
                <span class="calculator-text-secondary">Мы поможем вам рассчитать стоимость мебели вашей мечты, а также подобрать варианты дизайна и изготовления мебели</span>
                <button id="openModal" class="calculator-button">Узнать стоимость</button>
            </div>
            <div class="calculator-image">
                <img class="calculator-img" src="{% static 'mebelevv/images/calculator.jpg' %}" alt="Calculator">
            </div>
        </div>
    </section>

    <section id="questions-pre-section"></section>

    <section class="questions-section">
        <span class="questions-title element hidden">
            ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
        </span>
        <div class="questions-list element hidden">
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Какую мебель вы производите?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        Мы производим корпусную мебель (шкафы, мебель для детей, офисная мебель, для ванной, кухонная мебель, любой проект, который необходим заказчику). Мы можем изготовить мебель по вашему проекту либо по фотографии.
                    </div>
                </div>
                <hr class="questions-content-hr">
            </div>
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Чем мебель, изготовленная под заказ, отличается от готовой, которая продается в магазине?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        В отличие от мебели, приобретенной в магазине, где вы ограниченны размерами, конфигурацией и цветом мебели. Мебель же, изготовленная под заказ, ограничена только вашей фантазией: вы можете варьировать цвет, материал, конфигурацию, фурнитуру, размер, декор и т.д.
                    </div>
                </div>
                <hr class="questions-content-hr">
            </div>
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Сколько времени занимает изготовление мебели?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        Сроки изготовления мебели варьируются в зависимости от сложности и объема заказа. Большие кухни с нестандартными фасадами и сложными механизмами, большие прихожие изготавливаются в среднем до 25 рабочих дней. Двери шкафов-купе, простые шкафы, столы (в т.ч. компьютерные), тумбы, комоды занимают меньше времени для разработки и изготовления - от 3 до 10 рабочих дней. Но, опять же, индивидуальная мебель - это масса тонкостей и ньюансов, которые могут повлиять на сроки изготовления мебели.
                    </div>
                </div>
                <hr class="questions-content-hr">
            </div>
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Какой процент предоплаты вы берете?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        Согласно договору мы берем от 50% от стоимости изготовления изделия.
                    </div>
                </div>
                <hr class="questions-content-hr">
            </div>
            <div class="questions-collapsible-wrap">
                <button class="questions-collapsible">Какие способы оплаты у вас существуют?</button>
                <div class="questions-content">
                    <div class="questions-text">
                        Мы работаем как с наличным расчетом, так и по безналичному расчету. Также возможно оформление рассрочки и кредита.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id='contacts-section' class="contacts-section">
        <div class="contacts-main">
            <div class="contacts-text-wrap">
                <span class="contacts-text">
                    НАШИ КОНТАКТЫ
                </span>
                <div class="contacts-wrap">
                    <div class="contacts-connect">
                        <span class="contacts-connect-title">Связь</span>
                        <span class="contacts-connect-number contacts-line">+7 (771) 768 00-27</span>
                        <span class="contacts-connect-email contacts-line">elxov0618@gmail.com</span>
                    </div>
                    <div class="contacts-media">
                        <span class="contacts-media-title">Соцсети</span>
                        <span class="contacts-media-number contacts-line">8 (800) 555-35-35</span>
                        <span class="contacts-media-email contacts-line">mebelevv@mail.ru</span>
                    </div>
                    <div class="contacts-address">
                        <span class="contacts-address-title">Адрес</span>
                        <span class="contacts-address-number contacts-line">Казахстан, Актобе,</span>
                        <span class="contacts-address-email contacts-line">ул. Санкибай Батыра 3Б</span>
                    </div>
                </div>
            </div>
            <div class="contacts-map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A55e27bc7b91ced832623cb237b52063532ca99c52546a0f6c37a8ec23fe186b4&amp;width=400&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>

        <div class="footer">
            <hr class="footer-hr">
            <div class="footer-text">
                <div class="footer-copyright">Copyright © 2024 Mebelevv</div>
                <div class="footer-rights">Все права защищены</div>
            </div>
        </div>
    </section>
</body>

{# Автовоспроизведение галереи #}
<script>
    (function move() {
    let container = document.querySelector('.gallery-items'),
        block = container.querySelector('.gallery-item');
        container.classList.remove("active");
    container.appendChild(block);
    window.setTimeout(move, 3000);
    window.setTimeout(function() {
        container.classList.add("active");
    }, 100);
    })();
</script>

{# Скролл к блоку #}
<script>
    function scrollToElem(className) {
        const element = document.querySelector(`.${className}`);
        if (!element) {
            console.log(`Element with class "${className}" not found.`);
            return;
        }

        const targetPosition = element.getBoundingClientRect().top + window.pageYOffset;
        const startPosition = window.pageYOffset;
        const distance = targetPosition - startPosition - 25;
        const duration = distance > 0 ? distance : -distance;
        let start = null;

        console.log(targetPosition, startPosition)

        function step(timestamp) {
            if (!start) start = timestamp;
            const progress = timestamp - start;
            const progressFraction = Math.min(progress / duration, 1);
            const ease = (t) => t * (2 - t);
            window.scrollTo(0, startPosition + distance * ease(progressFraction));
            if (progress < duration) {
                window.requestAnimationFrame(step);
            }
        }
        window.requestAnimationFrame(step);
    }
</script>

{#  #}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const observerOptions = {
            root: null,
            rootMargin: '0px',
            threshold: 0.2
        };

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    entry.target.classList.remove('hidden');
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        document.querySelectorAll('.element').forEach(element => {
            observer.observe(element);
        });
    });
</script>

{# Раскрытие ответа на часто задаваемый вопрос #}
<script>
    var coll = document.getElementsByClassName("questions-collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("plan");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
            content.style.maxHeight = null;
            } else {
            content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{# Открытие/закрытие модального окна #}
<script>
    var modalWindow = document.querySelector('#modalWindow')
    document.querySelector('#openModal').onclick = function () {
        modalWindow.showModal()
    }
    document.querySelector('#close').onclick = function () {
        modalWindow.close()
    }
</script>

{# Открытие/закрытие контактного окна #}
<script>
    var contactWindow = document.querySelector('#contactWindow')
    document.querySelector('#openContacts').onclick = function () {
        contactWindow.showModal()
    }
    contactWindow.addEventListener('click', function (event) {
        var rect = contactWindow.getBoundingClientRect();
        var isInDialog = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
            rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
        if (!isInDialog) {
            contactWindow.close();
            document.querySelector('#phone-fieldset').style.display = 'none';
            document.querySelector('#contacts-block').style.display = 'flex';
        }
    });
</script>

{#<script>#}
{#    document.addEventListener("DOMContentLoaded", function () {#}
{#        var scrollbar = document.body.clientWidth - window.innerWidth + 'px';#}
{#        console.log(scrollbar);#}
{#        document.querySelector('[id="openModal"]').addEventListener('click', function () {#}
{#            document.body.style.overflow = 'hidden';#}
{#        });#}
{#        document.querySelector('[id="close"]').addEventListener('click', function () {#}
{#            document.body.style.overflow = 'visible';#}
{#        });#}
{#    });#}
{#</script>#}
<script>
    function validateForm(name, elem) {
        var currentId = elem.id
        var radios = document.getElementsByName(name);
        var formValid = false;
        var i = 0;
        while (!formValid && i < radios.length) {
            if (radios[i].checked) formValid = true;
            i++;
        }
        if (!formValid) {
            alert("Пожалуйста, выберите один из предложенных вариантов");
        } else {
            if (elem.className != 'lastNextQuestion') {
                var currentQuestion = document.getElementById('question' + currentId);
                currentQuestion.style.display = 'none';
                elem.style.display = 'none';

                var nextQuestion = document.getElementById('question' + (parseInt(currentId) + 1));
                if (nextQuestion) {
                    nextQuestion.style.display = 'block';
                }
                document.getElementById(parseInt(currentId) + 1).style.display = 'block';
            } else {
                var nextElements = document.getElementsByClassName('nextQuestion');
                for (var i = 0; i < nextElements.length; i++) {
                    nextElements[i].style.display = 'none';
                    document.getElementById('question' + currentId).style.display = 'none';
                }
                document.getElementById('questionLast').style.display = 'block';
                elem.style.display = 'none';
            }
        }
        return formValid;
    }
</script>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<script>
    function makeInputChecked(self, id, answersClassName) {
        document.getElementById(id).checked = true;
        questionAnswers = document.getElementsByClassName(answersClassName);
        for (let i = 0; i < questionAnswers.length; i++) {
            questionAnswers[i].classList.remove('checked')
        }
        self.classList.add('checked')
    }
</script>
<script>
function openNav() {
    let width = document.body.offsetWidth;
    console.log(width)
    let navWidth = "30%";
    if (width < 480) navWidth = "100%";
    else if (width < 780) navWidth = "50%";
    document.getElementById("mySidenavTitle").style.transition = 'opacity 0.5s 0.5s ease-out';
    document.getElementById("mySidenavTitle").style.opacity = '1';
    setTimeout(document.getElementById("mySidenav").style.width = navWidth, 0);
}

function closeNav() {
    document.getElementById("mySidenavTitle").style.transition = 'none';
    document.getElementById("mySidenavTitle").style.opacity = '0';
    setTimeout(document.getElementById("mySidenav").style.width = "0", 0);
}
</script>

{# Открытие формы обратной связи в контактном окне #}
<script>
document.querySelector('#contact-via-phone').onclick = function () {
    document.querySelector('#phone-fieldset').style.display = 'unset';
    document.querySelector('#contacts-block').style.display = 'none';
}
</script>
</html>